import pandas as pd
import numpy as np
import sklearn
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from scipy import stats
from collections import Counter 
import matplotlib.pyplot as plt
import re
